[Unit]
Description=A simple parodie of Aternos (but it's HaThermos)... (made with Python)

[Service]
User=wiibleyde
WorkingDirectory=/home/wiibleyde/HaThermos
ExecStart=/usr/bin/python3 /home/wiibleyde/HaThermos/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
