<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "fragments/import.html" %}
        <title>{{ ProjectName }} - {{ PageName }}</title>
    </head>
    <header>
        {% include "fragments/navbar.html" %}
        {% include "fragments/message.html" %}
    </header>
    <body class="dark:bg-black dark:text-white">
        <div class="container mx-auto">
            <div class="flex flex-col items-center justify-center">
              <h2 class="text-2xl font-bold">{{ PageName }}</h2>
              <div class="mt-8 grid gap-6 md:grid-cols-2 lg:grid-cols-3">
                    {% for account in Accounts %}
                        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center justify-center dark:bg-gray-800">
                            <h3 class="text-lg font-bold">{{ account[1] }}</h3>
                            <p class="text-base font-bold">{{ account[2] }}</p>
                            <div class="mt-4 flex justify-center items-center space-x-4">
                                <a href="/deleteAccount/{{ account[0] }}" class="text-red-500 hover:text-red-600">Supprimer le compte</a>
                                {% if account[4] == False %}
                                    <a href="/setAdmin/{{ account[0] }}" class="text-blue-500 hover:text-blue-600">Rendre administrateur</a>
                                {% else %}
                                    <a href="/unsetAdmin/{{ account[0] }}" class="text-blue-500 hover:text-blue-600">Retirer les droits d'administrateur</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/script.js"></script>
    <footer>
        {% include "fragments/footer.html" %}
    </footer>
</html>