<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "fragments/import.html" %}
        <title>{{ ProjectName }} - {{ PageName }}</title>
    </head>
    <header>
        {% include "fragments/navbar.html" %}
        {% include "fragments/message.html" %}
    </header>
    <body class="dark:bg-black dark:text-white">
        <div class="container mx-auto">
            <div class="flex flex-col items-center justify-center">
                <h2 class="text-2xl font-bold">{{ PageName }}</h2>
                <div>
                    {% for account in Accounts %}
                        <div class="flex flex-col items-center justify-center">
                            <h3 class="text-2xl font-bold">{{ account[1] }}</h3>
                            <p class="text-xl font-bold">{{ account[0] }}</p>
                            <p class="text-xl font-bold">{{ account[2] }}</p>
                            <div>
                                <a href="/deleteAccount/{{ account[0] }}">Supprimer le compte</a>
                                {% if account[4] == False %}
                                    <a href="/setAdmin/{{ account[0] }}">Rendre administrateur</a>
                                {% else %}
                                    <a href="/unsetAdmin/{{ account[0] }}">Retirer les droits d'administrateur</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/script.js"></script>
    <footer>
        {% include "fragments/footer.html" %}
    </footer>
</html>