<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/tailwind.css">
        <title>{{ ProjectName }} - {{ ErrorCode }}</title>
    </head>
    <header>
        {% include "fragments/navbar.html" %}
    </header>
    <body class="dark:bg-black dark:text-white">
        <p>T nul c'est une erreur</p>
    </body>
    <footer>
        {% include "fragments/footer.html" %}
    </footer>
</html>