<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "fragments/import.html" %}
        <title>{{ ProjectName }} - {{ ErrorCode }}</title>
        <script>
            function CloseMessage (id) {
                document.getElementById(id).style.display = "none";
            }
        </script>    
    </head>
    <header>
        {% include "fragments/navbar.html" %}
        {% include "fragments/message.html" %}
    </header>
    <body class="dark:bg-black dark:text-white">
        <p>T nul c'est une erreur</p>
    </body>
    <footer>
        {% include "fragments/footer.html" %}
    </footer>
</html>