<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "fragments/import.html" %}
        <title>{{ ProjectName }} - {{ PageName }}</title>
        <script>
            function CloseMessage (id) {
                document.getElementById(id).style.display = "none";
            }
        </script>
    </head>
    <header>
        {% include "fragments/navbar.html" %}
        {% include "fragments/message.html" %}
    </header>
    <body class="dark:bg-black dark:text-white">
        <div class="container mx-auto">
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-4xl font-bold">Connect to your {{ ProjectName }} account</h1>
            </div>
            <div class="flex flex-col items-center justify-center mt-52">
                <p class="text-2xl font-bold">Login</p>
                {% block content %}
                    <form method="post" class="flex flex-col items-center justify-center">
                        {{ form.hidden_tag() }}
                        <div class="flex flex-col items-center justify-center text-black my-1">
                            {{ form.username }}
                        </div>
                        <div class="flex flex-col items-center justify-center text-black my-1">
                            {{ form.password }}
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            {{ form.submit }}
                        </div>
                    </form>
                {% endblock %}
            </div>
        </div>
    </body>
    <footer>
        {% include "fragments/footer.html" %}
    </footer>
</html>