<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "fragments/import.html" %}
        <title>{{ ProjectName }} - {{ PageName }}</title>
    </head>
    <header>
        {% include "fragments/navbar.html" %}
        {% include "fragments/message.html" %}
    </header>
    <body class="dark:bg-black dark:text-white">
        <div class="container mx-auto">
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-4xl font-bold">Create your {{ ProjectName }} account</h1>
            </div>
            <div class="flex flex-col items-center justify-center mt-52">
                <p class="text-2xl font-bold">Register</p>
                {% block content %}
                    <form method="post" class="flex flex-col items-center justify-center">
                        {{ form.hidden_tag() }}
                        <div class="flex flex-col items-center justify-center text-black my-1">
                            {{ form.username }}
                        </div>
                        <div id="usernameMessage" class="flex flex-col items-center justify-center my-1"></div>
                        <div class="flex flex-col items-center justify-center text-black my-1">
                            {{ form.email }}
                        </div>
                        <div class="flex flex-col items-center justify-center text-black my-1">
                            {{ form.password }}
                        </div>
                        <div class="flex flex-col items-center justify-center text-black my-1">
                            {{ form.confirmPassword }}
                        </div>
                        <div id="matchMessage" class="flex flex-col items-center justify-center my-1"></div>
                        <div class="flex flex-col items-center justify-center">
                            {{ form.submit }}
                        </div>
                    </form>
                {% endblock %}
            </div>
        </div>
    </body>
    <script src="/static/js/script.js"></script>
    <script>
        function passwordMatch(password1,password2) {
            if (password1.value != password2.value) {
                return true
            } else {
                return false
            }
        }

        function checkPasswordMatch() {
            let password = document.getElementById("password")
            let confirmPassword = document.getElementById("confirmPassword")
            if (password.value == "" || confirmPassword.value == "") {
                document.getElementById("matchMessage").innerHTML = ""
                return
            }
            if (passwordMatch(password,confirmPassword)) {
                document.getElementById("password").classList.add("border-red-500")
                document.getElementById("confirmPassword").classList.add("border-red-500")
                document.getElementById("matchMessage").innerHTML = "Passwords do not match"
                document.getElementById("matchMessage").classList.add("text-red-500")
            } else {
                document.getElementById("password").classList.remove("border-red-500")
                document.getElementById("confirmPassword").classList.remove("border-red-500")
                document.getElementById("matchMessage").innerHTML = "Passwords match"
                document.getElementById("matchMessage").classList.remove("text-red-500")
                document.getElementById("matchMessage").classList.add("text-green-500")
            }
        }

        function checkMinecraftUsername(username) {
            if (username == "") {
                document.getElementById("usernameMessage").innerHTML = ""
                return
            }
            try {
                url = "https://api.minetools.eu/uuid/" + username
                // if "id" is not null then the username is valid and exists and don't let the user register with it
                fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.id != null) {
                        document.getElementById("username").classList.remove("border-red-500")
                        document.getElementById("usernameMessage").innerHTML = "Username is your Minecraft username"
                        document.getElementById("usernameMessage").classList.remove("text-red-500")
                        document.getElementById("usernameMessage").classList.add("text-green-500")
                        return true
                    } else {
                        document.getElementById("username").classList.add("border-red-500")
                        document.getElementById("usernameMessage").innerHTML = "Username is not your Minecraft username"
                        document.getElementById("usernameMessage").classList.add("text-red-500")
                        return false
                    }
                })
            } catch (error) {
                console.log(error)
            }
        }

        document.getElementById("password").addEventListener("keyup",checkPasswordMatch)
        document.getElementById("confirmPassword").addEventListener("keyup",checkPasswordMatch)
        document.getElementById("username").addEventListener("change",function() {
            checkMinecraftUsername(this.value)
        })
    </script>
    <footer>
        {% include "fragments/footer.html" %}
    </footer>
</html>