<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/assets/HaThermos.ico">
        <link rel="stylesheet" href="/static/css/output.css">
        <title>{{ ProjectName }} - {{ PageName }}</title>
    </head>
    <header>
        {% include "fragments/navbar.html" %}
    </header>
    <body class="dark:bg-black dark:text-white">
        <div class="container mx-auto">
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-4xl font-bold">Welcome to {{ ProjectName }}</h1>
                <p>This is the {{ PageNameLower }} page.</p>
            </div>
            <div class="flex flex-col items-center justify-center mt-52">
                <p class="text-2xl font-bold">Navigation</p>
                <ul class="flex flex-col items-center justify-center mt-4">
                    <li class="mb-2">
                        <a href="/">Home</a>
                    </li>
                    <li class="mb-2">
                        <a href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
    <footer>
        {% include "fragments/footer.html" %}
    </footer>
</html>