<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "fragments/import.html" %}
        <title>{{ ProjectName }} - {{ PageName }}</title>
    </head>
    <header>
        {% include "fragments/navbar.html" %}
        {% include "fragments/message.html" %}
    </header>
    <body class="dark:bg-black dark:text-white">
        <div class="flex flex-row items-center justify-center">
            <a href="/deleteServer/{{ server[0] }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Delete the server</a>
            <a href="/startServer/{{ server[0] }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Start the server</a>
            <a href="/stopServer/{{ server[0] }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Stop the server</a>
        </div>
        <div class="container mx-auto">
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-4xl font-bold">Server : {{ server[1] }}</h1>
            </div>
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-4xl font-bold">Version : {{ server[3] }}</h1>
            </div>
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-4xl font-bold">IP : {{ port }}</h1>
            </div>
            <p class="text-2xl font-bold">Op player :</p>
            {% block op %}
            <form method="post" class="flex flex-col items-center justify-center">
                {{ op.hidden_tag() }}
                <div class="flex flex-col items-center justify-center">
                    <div class="flex flex-col items-center justify-center text-black my-1">
                        {{ op.player }}
                    </div>
                    <div class="flex flex-col items-center justify-center text-white my-1">
                        {{ op.submit }}
                    </div>
                </div>
            </form>
            {% endblock %}
            <p class="text-2xl font-bold">Whitelist player :</p>
            <!-- {% block whitelist %}
            <form method="post" class="flex flex-col items-center justify-center">
                {{ whitelist.hidden_tag() }}
                <div class="flex flex-col items-center justify-center">
                    <div class="flex flex-col items-center justify-center text-black my-1">
                        {{ whitelist.player }}
                    </div>
                    <div class="flex flex-col items-center justify-center text-white my-1">
                        {{ whitelist.submit }}
                    </div>
                </div>
            </form>
            {% endblock %} -->
        </div>
    </body>
    <script src="/static/js/script.js"></script>
    <footer>
        {% include "fragments/footer.html" %}
    </footer>
</html>