<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/assets/HaThermos.ico">
        <link rel="stylesheet" href="/static/css/tailwind.css">
        <title>{{ ProjectName }} - {{ PageName }}</title>
        <script>
            function CloseMessage (id) {
                document.getElementById(id).style.display = "none";
            }
        </script>    </head>
    <header>
        {% include "fragments/navbar.html" %}
        {% include "fragments/message.html" %}
    </header>
    <body class="dark:bg-black dark:text-white">
        <div class="container mx-auto">
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-4xl font-bold">Server : {{ server[1] }}</h1>
            </div>
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-4xl font-bold">Version : {{ server[3] }}</h1>
            </div>
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-4xl font-bold">IP : {{ server[4] }} (Port for now)</h1>
            </div>
        </div>
    </body>
    <footer>
        {% include "fragments/footer.html" %}
    </footer>
</html>